body{
    margin:0;
    font-family: 'Segoe UI';
    direction: rtl;
    background: linear-gradient(135deg,#1e3c72,#2a5298);
}

header{
    text-align:center;
    color:white;
    padding:20px;
}

.add-section{
    display:flex;
    justify-content:center;
    margin-bottom:20px;
}

form{
    background:white;
    padding:15px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
    display:flex;
    gap:10px;
    flex-wrap:wrap;
}

form input, form button{
    padding:8px;
    border-radius:8px;
    border:1px solid #ccc;
}

form button{
    background:#2a5298;
    color:white;
    cursor:pointer;
    border:none;
}

.board{
    display:flex;
    gap:20px;
    padding:20px;
}

.column{
    flex:1;
    background:#f1f5ff;
    padding:15px;
    border-radius:20px;
    min-height:400px;
}

.column h2{
    text-align:center;
}

.card{
    background:white;
    padding:15px;
    border-radius:15px;
    margin-bottom:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
    transition:0.3s;
}

.card:hover{
    transform:scale(1.03);
}

.card-header{
    font-weight:bold;
    font-size:18px;
    margin-bottom:5px;
}

.time{
    font-size:12px;
    color:#555;
}

.buttons{
    margin-top:10px;
    display:flex;
    flex-wrap:wrap;
    gap:5px;
}

.buttons button{
    flex:1;
    padding:6px;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:12px;
}

.call{ background:#0dcaf0; }
.whatsapp{ background:#25d366; color:white;}
.done{ background:#198754; color:white;}
.next{ background:#6c757d; color:white;}
.prev{ background:#ffc107;}
.delete{ background:#dc3545; color:white;}

.alert{
    background:#ffb703;
    /* صندوق البحث */

#search{
width:90%;
max-width:500px;
display:block;
margin:20px auto;
padding:12px 15px;
font-size:15px;
border-radius:30px;
border:1px solid #ddd;
outline:none;
box-shadow:0 2px 8px rgba(0,0,0,0.08);
transition:0.3s;
}

/* لما المستخدم يضغط عليه */

#search:focus{
border-color:#4e73df;
box-shadow:0 4px 12px rgba(78,115,223,0.3);
}

/* placeholder */

#search::placeholder{
color:#999;
font-size:14px;
}
    padding:5px;
    border-radius:5px;
    margin-top:5px;
    font-size:12px;
}
